{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
 
<div class="dashboard">

    <!-- Hero Section -->
    <section class="hero">

        <div>
            <h1>Your Link Dashboard</h1>
            <p>Create, manage and track your shortened links.</p>
        </div>

    </section>

    <!-- Create Link Card -->
    <section class="create-link-card">

        <div class="card-header">
            <h2>Create Short Link</h2>
        </div>

        <form method="POST">

            <div class="url-form">

                <input
                    type="url"
                    name="original_url"
                    placeholder="Paste your long URL here..."
                    required
                >

                <button type="submit">
                    Shorten URL
                </button>

            </div>

        </form>

    </section>

    <!-- Generated Link -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
           
    <section class="generated-card" {{ category }}>

        {% if category == "generated_link" %}

        <h3>Link Created Successfully</h3>

        <div class="generated-content">
            <div class="generated-link-box">

                <a
                href="{{ request.host_url }}{{ message }}"
                target="_blank"
                class="generated-link"
            >
                {{ request.host_url }} {{ message }}
                </a>
            </div>

            <div class="generated-actions">

                <button
                    id="copy-btn" 
                    onclick="copyLink(this,'{{ request.host_url }}{{ message }}')"
                >
                    Copy
                </button>

                <div class="options-wrapper">
                    <button
                        class="options-btn"
                        onclick="toggleOptions(this)"
                    >
                        ⋮
                    </button>

                    <div class="options-menu">
                        <button 
                            onclick="editlink('{{ message }}')">
                            Edit
                        </button>

                        <form
                            method="POST" 
                            action="{{ url_for('links.delete_link', short_code=message) }}"
                            onsubmit="return confirm('Delete this link?')"
                        >
                            <button type="submit">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% elif category == "active_link" %}

            <h3>Link Already Active</h3>


        <div class="generated-content">
            <div class="generated-link-box">

                <a
                href="{{ request.host_url }}{{ message }}"
                target="_blank"
                class="generated-link">
                {{ request.host_url}}{{ message }}
                </a>

            </div>

            <div class="generated-actions">

                <button
                    id="copy-btn"
                    onclick="copyLink(this, '{{ request.host_url }}{{ message }}')"
                >
                    Copy
                </button>

                 <div class="options-wrapper">
                    <button
                        class="options-btn"
                        onclick="toggleOptions(this)"
                    >
                        ⋮
                    </button>

                    <div class="options-menu">
                        <button 
                            onclick="editlink('{{ message }}')">
                            Edit
                        </button>

                        <form
                            method="POST" 
                            action="{{ url_for('links.delete_link', short_code=message) }}"
                            onsubmit="return confirm('Delete this link?')"
                        >
                            <button type="submit">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            
            </div>

        </div>

        {% elif category == "inactive_link" %}

        <h3>Link is inactive</h3>

        <p>
            This link was deleted before.
            Restore it from deleted links to activate it.
        </p>

        {% endif %}

    </section>

    {% endfor %}
    {% endwith %}

    <!-- Statistics -->
    <section class="stats-grid">

        <div class="stat-card">
            <span class="stat-label">Active links</span>
            <span class="stat-value">
                {{ links|length }}
            </span>
        </div>

        <div class="stat-card">
            <span class="stat-label">Total Clicks</span>
            <span class="stat-value">
                {{ total_clicks }}
            </span>
        </div>

    </section>

    <!-- Links Table -->
    <section class="links-card">

        <div class="table-header">

            <h2>Your Links</h2>

            <span class="table-count">
                {{ links|length }} links
            </span>

        </div>

        {% if links %}

        <div class="table-wrapper">

            <table>

                <thead>

                    <tr>
                        <th>Short URL</th>
                        <th>Title</th>
                        <th>Clicks</th>
                        <th>Action</th>
                    </tr>

                </thead>

                <tbody>

                    {% for link in links %}

                    <tr>

                        <td class="short-link">
                            <a 
                            href="{{ request.host_url }}{{ link[0] }}"
                            target="_blank"
                            class="short-link"
                            >
                            {{ request.host_url }}{{ link[0] }}
                            </a>
                        </td>

                        <td class="title-cell" title="{{ link[1] }}">

                            {% if link[1] %}
                                {{ link[1] }}
                            {% else %}
                                Untitled Page
                            {% endif %}

                        </td>

                        <td>

                            <span class="click-badge">
                                {{ link[2] }}
                            </span>

                        </td>

                        <td class="actions">

                            <button
                                class="copy-btn"
                                onclick="copyLink(this, '{{ request.host_url }}{{ link[0] }}')"
                            >
                                Copy
                            </button>

                             <div class="options-wrapper">
                                <button
                                    class="options-btn"
                                    onclick="toggleOptions(this)"
                                >
                                    ⋮
                                </button>

                                <div class="options-menu">
                                    <button 
                                        onclick="editlink('{{ link[0] }}', '{{ link[1] }}')">
                                        Edit
                                    </button>
 
                                    <form
                                        method="POST" 
                                        action="{{ url_for('links.delete_link', short_code=link[0]) }}"
                                        onsubmit="return confirm('Delete this link?')"
                                    >
                                        <button type="submit">
                                            Delete
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

        {% else %}

        <div class="empty-state">

            <div class="empty-icon">
                🔗
            </div>

            <h3>No Links Yet</h3>

            <p>
                Create your first shortened URL above.
            </p>

        </div>

        {% endif %}

    </section>

</div>

<div id="editModal" class="modal-overlay">


    <div class="edit-modal">


        <div class="modal-header">

            <h2>Edit Link</h2>

            <button type="button" onclick="closeEditModal()">
                ✕
            </button>

        </div>


        <form id="editForm" method="POST">


            <label>
                Short Code
            </label>

            <input
                id="editShortCode"
                name="short_code"
                pattern="[A-Za-z0-9_-]+"
            >



            <label>
                Title
            </label>

            <input
                id="editTitle"
                name="title"
            >

            <p id="editError" class="edit-error" style="display:none;"></p>

            <button
                id="saveChanges"
                type="submit"
                disabled
            >
                Save Changes
            </button>


        </form>


    </div>


</div>

<script>

function copyLink(button, url) {

    navigator.clipboard.writeText(url);

    const original = button.innerText;

    button.innerText = "Copied ✓";

    setTimeout(() => {
        button.innerText = original;
    }, 2000);

}

function toggleOptions(button){

    const menu =
        button.nextElementSibling;


    document
    .querySelectorAll(".options-menu")
    .forEach(item=>{

        if(item !== menu){

            item.classList.remove("show");

        }

    });


    menu.classList.toggle("show");

}


document.addEventListener(
"click",
function(event){

    if(!event.target.closest(".options-wrapper")){

        document
        .querySelectorAll(".options-menu")
        .forEach(menu=>{

            menu.classList.remove("show");

        });

    }

});

let originalShortCode = "";
let originalTitle = "";


function editlink(code,title){


    originalShortCode = code;
    originalTitle = title || "";


    document
    .getElementById("editShortCode")
    .value = code;


    document
    .getElementById("editTitle")
    .value = title || "";



    document
    .getElementById("saveChanges")
    .disabled = true;

    const editError =
        document.getElementById("editError");

    editError.style.display = "none";
    editError.innerText = "";


    document
    .getElementById("editModal")
    .style.display="flex";

    document
    .getElementById("editShortCode")
    .focus();

}



function closeEditModal(){

    document
    .getElementById("editModal")
    .style.display="none";

}

document
.getElementById("editModal")
.addEventListener("click", function(event){

    if (event.target === this) {
        closeEditModal();
    }

});

document.addEventListener("keydown", function(event){

    if (event.key === "Escape") {
        closeEditModal();
    }

});

const shortInput =
document.getElementById("editShortCode");

const titleInput =
document.getElementById("editTitle");

const saveBtn =
document.getElementById("saveChanges");


function checkChanges(){

    let changed =
        shortInput.value.trim() !== originalShortCode ||
        titleInput.value.trim() !== originalTitle;



    saveBtn.disabled = !changed;

}

shortInput.addEventListener(
"input",
checkChanges
);

titleInput.addEventListener(
"input",
checkChanges
);



const editForm =
document.getElementById("editForm");


editForm.addEventListener(
"submit",
async function(event){

    event.preventDefault();

    const newCode =
        shortInput.value.trim();

    const newTitle =
        titleInput.value.trim();

    const editError =
        document.getElementById("editError");

    editError.style.display = "none";
    editError.innerText = "";

    saveBtn.disabled = true;
    const originalLabel = saveBtn.innerText;
    saveBtn.innerText = "Saving...";

    try {

        const response =
        await fetch(

            `/edit/${originalShortCode}`,

            {
                method:"POST",

                headers:{
                    "Content-Type":"application/json"
                },

                body:JSON.stringify({

                    short_code:newCode,

                    title:newTitle

                })

            }

        );

        const result =
            await response.json();

        if(result.success){

            window.location.reload();

        }

        else{

            editError.innerText = result.message || "Couldn't save changes. Try again.";
            editError.style.display = "block";

        }

    } catch (err) {

        editError.innerText = "Network error. Check your connection and try again.";
        editError.style.display = "block";

    } finally {

        saveBtn.disabled = false;
        saveBtn.innerText = originalLabel;

    }

});


</script>

{% endblock %}